[alias]
    co = checkout
    oc = checkout
    l = log --pretty=short
    s = status
    staged = diff --cached
    w = "!git add --all; git commit -m WIP"
    wip = "!git add --all; git commit -m WIP"
    logs  = log --pretty=format:'%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) %C(cyan)<%an>%Creset'
    watch = "update-index --no-assume-unchanged"
    unwatch = "update-index --assume-unchanged"
    praise = blame
[user]
    name = Josh Callender
    email = 1569818+saponifi3d@users.noreply.github.com
[core]
    editor = vim
	  excludesfile = ~/.gitexcludes
[color]
    ui = auto
    branch = auto
    status = auto
[push]
    default = current
[fetch]
    prune = true
[pull]
    rebase = true
[init]
    defaultBranch = main
